.recorder {
    margin-top: 10%;
    width: 100%;
    text-align: center;
  }
  .wrap {
    margin-bottom: 20px;
    position: unset;
    height: 22rem;
    width: 19rem;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(54, 52, 52, 0.4);
    cursor: pointer;
    margin-left: 35%;
  }
  .btn-speech2 {
    margin-left: 5%;
  }
  h2 {
    margin-bottom: 5%;
  }
  .mic-icon {
    font-size: 50px;
  }
  #saidwords {
    padding: 5%;
  }
  