$input-color: #f2994a;
$feedback: #ff0000;
$border: #707070;

.input {
  border: 0.5px solid $border;
  border-radius: 5px;
  margin: auto;
  padding: 0.6rem;
  width: 100%;
}

.input:active,
.input:focus,
.input:focus-within {
  border: .5px solid $input-color;
  outline-color: #f2994a;
}

.example {
  background: #fff;
  border-radius: 5px;
  margin: auto;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 400px;
  text-align: center;
  z-index: 1000;
}

.feedbackk,
.feedback {
  color: $feedback;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 5%;
  padding: 0.3em 0 0 0.4em;
  text-align: left;
}

.feedbackk {
  margin-bottom: 2%;
  text-align: center;
}

.form-control {
  width: 90% !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 12px;
}